{% extends 'base.html.twig' %}

{% form_theme formRegister 'bootstrap_5_layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block h1 %}Inscription{% endblock %}

{% block body %}

    {{ form_start(formRegister, {'attr': {'class': 'w-50 mx-auto'}}) }}

        {{ form_row(formRegister.firstName) }}

        {{ form_row(formRegister.lastName) }}

        {{ form_row(formRegister.email) }}

        {{ form_row(formRegister.phone) }}

        {{ form_row(formRegister.country) }}

        {{ form_row(formRegister.city) }}

        {{ form_row(formRegister.postalCode) }}

        {{ form_row(formRegister.address) }}

        {{ form_row(formRegister.birthDate) }}

        {{ form_row(formRegister.password) }}

        {{ form_row(formRegister.confirmPassword, {'label': 'Confirm password'}) }}

        <button type="submit" class="btn btn-success">S'inscrire</button>

    {{ form_end(formRegister) }}

{% endblock %}
